/*
 * Service page
 */

/* Disable double tap to zoom */
* { touch-action: manipulation; }

/* Center heading */
h2 { text-align: center; }

/* Back button and main heading */
.back-button {
    font-size: 7vmin;

    background-color: #b33d3d;
    color: white;

    border: none;
    border-radius: 0;

    cursor: pointer;
    line-height: 1;
}
.history-button {
    font-size: 7vmin;

    background-color: inherit;
    color: black;

    border: none;
    border-radius: 0;

    cursor: pointer;

    float: right;
    line-height: 1;
}
.inline {
    display: inline;
    padding: 5px;
}

/* Responsive font sizes */
h2, table, .customize-button, .amount-button, .amount-box, .comment-box  {
    font-size: 6vmin;
}
li {
    font-size: 4vmin;
}

/* Tables */
table {
    border-collapse: collapse;
    text-align: left;
}
td, th {
    padding: 3px;
    border-bottom: 1px solid black;
}

/* Very light colorization based on category */
table tr { background-color: hsl(0, 0%, 100%);}

table tr.category-1 { background-color: hsl(330, 90%, 93%);}
table tr.category-2 { background-color: hsl(260, 90%, 93%);}
table tr.category-3 { background-color: hsl(210, 90%, 93%);}
table tr.category-4 { background-color: hsl(135, 90%, 93%);}
table tr.category-5 { background-color: hsl(45, 90%, 93%);}
table tr.category-6 { background-color: hsl(15, 90%, 93%);}
table tr.category-7 { background-color: hsl(0, 90%, 93%);}

/* Table colors on amount > 0 */
table tr.colorized-row { background-color: #4CAF50;}

table tr.category-1.colorized-row { background-color: hsl(330, 90%, 60%);}
table tr.category-2.colorized-row { background-color: hsl(260, 90%, 60%)}
table tr.category-3.colorized-row { background-color: hsl(210, 90%, 60%);}
table tr.category-4.colorized-row { background-color: hsl(135, 90%, 60%);}
table tr.category-5.colorized-row { background-color: hsl(45, 90%, 60%);}
table tr.category-6.colorized-row { background-color: hsl(15, 90%, 60%);}
table tr.category-7.colorized-row { background-color: hsl(0, 90%, 60%);}

table tr.category-8.colorized-row { background-color: hsl(330, 90%, 93%);}
table tr.category-9.colorized-row { background-color: hsl(260, 90%, 93%);}
table tr.category-10.colorized-row { background-color: hsl(210, 90%, 93%);}
table tr.category-11.colorized-row { background-color: hsl(135, 90%, 93%);}
table tr.category-12.colorized-row { background-color: hsl(45, 90%, 93%);}
table tr.category-13.colorized-row { background-color: hsl(15, 90%, 93%);}
table tr.category-14.colorized-row { background-color: hsl(0, 90%, 93%);}

.category-name-8 { background-color: hsl(330, 90%, 60%); }
.category-name-9 { background-color: hsl(260, 90%, 60%); }
.category-name-10 { background-color: hsl(210, 90%, 60%); }
.category-name-11 { background-color: hsl(135, 90%, 60%); }
.category-name-12 { background-color: hsl(45, 90%, 60%); }
.category-name-13 { background-color: hsl(15, 90%, 60%); }
.category-name-14 { background-color: hsl(0, 90%, 60%); }

/* Buttons */
.amount-button, .amount-box, .customize-button {
    width: 10vw;
    text-align: center;
}
#submit-button {
    width: 100%;
    height: 100%;
    padding: 1vh;
    font-size: 4vmin;

    background-color: #4CAF50;
    color: white;

    border: none;
    border-radius: 20px;

    cursor: pointer;
}

/* Overview */
#overview-h2 {
    font-size: 6vmin;
    text-align: left;
}

#overview {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#overview li:nth-child(2n) {
    list-style: none;
    text-align: right;
    margin-right: 1vw;
}

/* Total price */
#total-cost-p {
    font-size: 7vmin;
    padding-left: 10px;
}

/* Popup customization window */
.popup {
    display: none;

    z-index: 3;

    position: fixed;
    top: 0;
    left: 0;
    vertical-align: middle;

    width: 100%;
    height: 100%;
    padding-top: 10vh;
    padding-botton: 10vh;

    background-color: rgba(0,0,0,0.4);

    animation: opac 0.8s;
}
.popup-inner {
    display: block;
    position: relative;
    padding: 1vmin;
    border-radius: 20px;

    width: 80vw;
    height: 80vh;
    margin: auto;

    font-size: 4vmin;

    background-color: white;

    animation-name: popup-animation;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
}
@keyframes popup-animation {
    from { transform: scale(0, 0); }
    to { transform: scale(1, 1); }
}
.popup-inner table {
    font-size: 4vmin;
}
.popup-inner .amount-button {
    font-size: 5vmin;
}
.popup-inner table tr:nth-child(odd) {
    background-color: unset;
}
.comment-box {
    width: 78vw;
    padding: 1vw;
    margin-bottom: 10px;
}
#done-button {
    width:80vw;
    height: 9vh;
    padding: 1vh;
    font-size: 4vmin;

    background-color: #4CAF50;
    color: white;

    border: none;
    border-radius: 20px;

    cursor: pointer;
}

/* Category folding */
.category-button {
    width: 100%;
    height: 100%;

    border: 0;
    padding: 0;

    font-size: inherit;
    text-align: inherit;
    background-color: inherit;
}

.hidden {
    max-height: 0px !important;
    overflow: hidden;

    padding: 0;
    border: 0;
}

.category-fold-div {
    /*
     * a default max-height is required for this to work but we don't want to specify a maximum
     * instead we do this on body load with javascript
    */
    /* max-height: 1000px; */
    transition: max-height .5s;
}

.arrow::after {
    content: "▾";
    display: inline-block;
    transition: transform ease-in-out .5s;
}
.arrowturn::after {
    transform: rotate(-90deg);
}

/* Service Overview */
.nowrap {
    white-space: nowrap;
}

/*
 * Align with left and right buttons
 * Total width is col2(12vw) + col3(26vw) + button+(10vw) = 48vw
 * Give 23.5 for each button to have 1vw space in the middle
 */
.select-button {
    width: 23.5vw;
    font-size: 6vmin;
}

.select-button-container {
    display: flex;
    justify-content: space-between;
    width: 48vw;
}

/* Service History */
.history-table {
    font-size: 4vmin;
}
