/*
Bar page
*/

/*Set sans-serif as default font*/
* { font-family: sans-serif; }

/*Server status top bar*/
#server-status {
    width:100%;
    height: 2vmin;
    padding: 1vmin;
    margin-bottom: 1vh;
    font-size: 2vmin;
    text-align: center;

    color: white;

    border: none;
}
.server-status-up {
    background-color: #4CAF50;

}
.server-status-down {
    background-color: #b33d3d;
}

/*Table style*/
table {
    width: 100%;
    border-style: solid;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
    font-size: 1.5vw;
}
.outer-table > tbody > tr > td, .completed-outer-table > tbody > tr > td {
    border: 1px solid;
}

/*Table colors*/
.timeout_ok {
    color: #4CAF50;
}
.timeout_warn {
    color: darkorange;
}
.timeout_crit {
    color: #b33d3d;
}
.outer-table > tbody > tr > th {
    background-color: darkorange;
    color: white;
}
.inner-table > tbody > tr > th {
    background-color: cornflowerblue;
    color: white;
}
/*Align columns of inner tables*/
.inner-table {
	table-layout: fixed;
}
.icol-1 {
	width: 35%;
}
.icol-2 {
	width: 10%;
}
.icol-3 {
	width: 40%;
}
.icol-4 {
	width: 15%;
}

/*Every 2nd row grey in inner table*/
table table tr:nth-child(odd){background-color: #dbd9d9}

/*Checkbox buttons*/
button {
    width: 100%;
    height: 100%;
    font-size: 100%;
    text-align: center;

    background-color: #4CAF50;
    color: white;

    border: none;
    border-radius: 20px;

    cursor: pointer;
}
.no-click {
    pointer-events: none;
    background-color: grey;
}
