<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bar.css') }}">
    <meta http-equiv="refresh" content="5" />
</head>
<body>
    <table class="outer-table">
        <tbody>
              <tr>
                <th>Tisch</th>
                <th>Produkte</th>
                <th>Erledigt</th>
            </tr>
            {%for order in orders%}
            <tr>
                <td>{{order.table}}</td>
                <td>
                    <table class="inner-table">
                        <tr>
                            <th>Produkt</th>
                            <th>Menge</th>
                            <th>Sonstiges</th>
                            <th>Erledigt</th>
                        </tr>
                        {% for product in order.products -%}
                            {%- if not product.completed %}
                                <tr>
                                    <td>{{product.name}}</td>
                                    <td>{{product.amount}}</td>
                                    <td>{{product.comment}}</td>
                                    <td><form action="{{ url_for ('bar_submit') }}" method="post">
                                        <button id="{{order.num}}" type="submit" name="product-completed" value="{{product.num}}">&#x2713;</button>
                                        <input type="hidden" name="order" value="{{order.num}}"/>
                                    </form></td>
                                </tr>
                            {%- endif -%}
                        {%- endfor %}
                    </table>
                </td>
                <td>
                    <form action="{{ url_for ('bar_submit') }}" method="post">
                        <button id="{{order.num}}" type="submit" name="order-completed" value="{{order.num}}">&#x2713;</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>