    <div id="server-status" class="server-status-up">Server is up</div>
    <table class="outer-table">
        <tbody>
              <tr>
                  <th>Dauer</th>
                  <th>Tisch</th>
                  <th>Produkte</th>
                  <th>Erledigt</th>
            </tr>
            {%for order in orders-%}
            <tr>
                <td><span class="{{order.active_since_timeout_class}}">{{order.active_since}}</span></td>
                <td>{{order.table}}{{'<br/>'|safe + '(' + order.waiter + ')' if order.waiter}}</td>
                <td>
                    <table class="inner-table">
                        <tr>
                            <th class="icol-1">Produkt</th>
                            <th class="icol-2">Menge</th>
                            <th class="icol-3">Sonstiges</th>
                            <th class="icol-4">Erledigt</th>
                        </tr>
                        {% for product in order.products_for_bar(bar) -%}
                        <tr>
                            <td>{{product.name}}</td>
                            <td>{{product.amount}}</td>
                            <td>{{product.comment}}</td>
                            {%- if not product.completed %}
                            <td><form action="{{ url_for ('bar.bar_submit', bar=bar) }}" method="post">
                                <button id="product-{{product.id}}" type="submit" name="product-completed" value="{{product.id}}">&#x2713;</button>
                            </form></td>
                            {% else -%}
                            <td><button class="no-click" type="button">&#x2713;</button></td>
                            {%- endif -%}
                        </tr>
                        {%- endfor %}
                    </table>
                </td>
                <td>
                    <form action="{{ url_for ('bar.bar_submit', bar=bar) }}" method="post">
                        <button id="order-{{order.id}}" type="submit" name="order-completed" value="{{order.id}}">&#x2713;</button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {% if show_completed -%}
    <br/><br/>
    <table class="completed-outer-table">
        <tbody>
              <tr>
                  <th>Abgeschlossen</th>
                  <th>Tisch</th>
                  <th>Produkte</th>
            </tr>
            {%for completed_order in partially_completed_orders-%}
            <tr>
                <td>Pending...</br></td>
                <td>{{completed_order.table}}{{'<br/>'|safe + '(' + completed_order.waiter + ')' if completed_order.waiter}}</td>
                <td>
                    <table class="inner-table-completed">
                        <tr>
                            <th class="icolc-1">Produkt</th>
                            <th class="icolc-2">Menge</th>
                            <th class="icolc-3">Sonstiges</th>
                        </tr>
                        {% for product in completed_order.products_for_bar(bar) -%}
                            {%- if product.completed %}
                                <tr>
                                    <td>{{product.name}}</td>
                                    <td>{{product.amount}}</td>
                                    <td>{{product.comment}}</td>
                                </tr>
                            {%- endif -%}
                        {%- endfor %}
                    </table>
                </td>
            </tr>
            {%endfor%}
            {%for completed_order in completed_orders-%}
            {%- set completed_at_date, completed_at_time = completed_order.completed_timestamp.split(" ") -%}
            <tr>
                <td>{{completed_at_date}}</br>{{completed_at_time}}</td>
                <td>{{completed_order.table}}{{'<br/>'|safe + '(' + completed_order.waiter + ')' if completed_order.waiter}}</td>
                <td>
                    <table class="inner-table-completed">
                        <tr>
                            <th class="icolc-1">Produkt</th>
                            <th class="icolc-2">Menge</th>
                            <th class="icolc-3">Sonstiges</th>
                        </tr>
                        {% for product in completed_order.products_for_bar(bar) -%}
                            {%- if product.completed %}
                                <tr>
                                    <td>{{product.name}}</td>
                                    <td>{{product.amount}}</td>
                                    <td>{{product.comment}}</td>
                                </tr>
                            {%- endif -%}
                        {%- endfor %}
                    </table>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%- endif %}
