{% extends "_base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <div class="index">
        <form action="{{ url_for ('bar.bar_selection') }}" method="get">
            <button type="submit">Bar</button>
        </form>
        <form action="{{ url_for ('service.service_trylogin') }}" method="get">
            <button type="submit">Service</button>
        </form>
    </div>
{% endblock %}
