<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Service Table {{table}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/service_table.css') }}">
    <script src="{{ url_for('static', filename='js/service_table.js') }}"></script>
</head>
<body onload="updateValues(); recomputeCategoryFold()">
<div>
    <form class="inline" action="{{ url_for ('service.service') }}" method="get">
        <button class="back-button" type="submit">&#x2715;</button>
    </form>
    <h2 class="inline">Service {{table}}</h2>
    <hr style="background-color: darkorange;">
    <ul>
        {% for products in open_product_lists -%}
        <li>
            {{ products|join('<br/>')|safe}}
        </li>
        {% endfor -%}
    </ul>

    <hr style="background-color: cornflowerblue;">
    <form action="{{ url_for ('service.service_table_submit', table=table) }}" method="post">
        <input type="hidden" id="nonce" name="nonce" value="{{nonce}}">
        <table>
            <colgroup>
                <col style="width: 15vw;">
                <col style="width: 40vw;">
                <col style="width: 15vw;">
                <col style="width: 15vw;">
                <col style="width: 15vw;">
            </colgroup>
            <tbody>
                <tr>
                    <th colspan="2">Produkt</th>
                    <th colspan="3">Menge</th>
                </tr>
                {% if show_category_names -%}
                    {# {{ Set curcat to a value different from the first category number, this forces display of first category}} #}
                    {%- set curcat = namespace(value=-1) -%}
                {%- else -%}
                    {# {{ Set curcat the first category number, this removes a leading spacer row}} #}
                    {%- set curcat = namespace(value=split_categories_init) -%}
                {%- endif -%}

                {%- for pid, pname, pprice, pcat in available_products -%}

                {%- if show_category_names and pcat != curcat.value -%}
                {%- if curcat.value != -1 -%}
                    {#- {{ This is not the very first category, add a closing table}} -#}
                </tbody>
                </table></div></td></tr>
                {% endif -%}

                <tr><td colspan="5" class="category-name-{{pcat}}"><button type="button" class="category-button arrow" id="category-button-{{pcat}}" onclick="toggleCategoryFold({{pcat}})">{{ category_map[pcat] }}&nbsp;</button></td></tr>
                <tr><td colspan="5"><div id="category-fold-div-{{pcat}}" class="category-fold-div"><table>
                <colgroup>
                    <col style="width: 15vw;">
                    <col style="width: 40vw;">
                    <col style="width: 15vw;">
                    <col style="width: 15vw;">
                    <col style="width: 15vw;">
                </colgroup>
                <tbody>
                {% set curcat.value = pcat -%}
                {%- elif pcat != curcat.value %}
                <tr><td colspan="5"><br/></td></tr>
                {% set curcat.value = pcat -%}
                {%- endif -%}

                <tr id="available-product-row-{{pid}}" class="available-product-row category-{{pcat}}">
                    <td><button type="button" id="customize-button-{{pid}}" class="customize-button" onclick="showPopup({{pid}})">&#9881;</button></td>
                    <td id="available-product-name-{{pid}}" class="available-product-name">{{pname}}</td>
                    <td><button type="button" class="amount-button" onclick="modifyAmount({{pid}}, -1)">&minus;</button></td>
                    <td><input type="text" id="amount-{{pid}}" class="amount-box" name="amount-{{pid}}" value="0" onchange="updateValues()"/></td>
                    <td><button type="button" class="amount-button" onclick="modifyAmount({{pid}}, +1)">&plus;</button></td>
                </tr>
                {% endfor -%}

                {%- if show_category_names -%}
                    {#- {{ The very last category was printed. add a closing table}} -#}
                </tbody>
                </table></div></td></tr>
                {%- endif %}
            </tbody>
        </table>
        <h2 id="overview-h2">Übersicht</h2>
        <hr style="background-color: darkorange;">
        <ul id="overview"></ul>
        <hr style="background-color: cornflowerblue;">
        <p id="total-cost-p">Gesamtpreis <span id="total-cost">0.00</span> €</p>
        <button type="submit" id="submit-button">Bestellen</button>
        {%  for pid, pname, pprice, pcat in available_products %}
        <div id="customize-popup-{{pid}}" class="popup">
            <div class="popup-inner">
                <h2>{{ pname }}</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>Preis</td>
                            <td><span id="price-{{pid}}" class="price-text">{{ "{:,.2f}".format(pprice) }}</span> €</td>
                        </tr>
                        <tr>
                            <td>Menge</td>
                            <td>
                                <button type="button" class="amount-button" onclick="modifyAmount({{pid}}, -1)">&minus;</button>
                                <span id="amount2-{{pid}}" class="amount2-text">0</span>
                                <button type="button" class="amount-button" onclick="modifyAmount({{pid}}, +1)">&plus;</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Kosten</td>
                            <td><span id="cost-{{pid}}" class="cost-text">0.00</span> €</td>
                        </tr>
                    </tbody>
                </table>
                <p>Kommentar:</p>
                <input type="text" id="comment-{{pid}}" class="comment-box" name="comment-{{pid}}"/><br/>
                <button type="button" id="done-button" onclick="hidePopup({{pid}})">Fertig</button>
            </div>
        </div>
        {%  endfor %}
    </form>
</div>
</body>
</html>
