{% extends "_base.html" %}

{% set ns = namespace() -%}

{% block title %}Service{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/service.css') }}">
    <script src="{{ url_for('static', filename='js/service.js') }}"></script>
    <style>
        {%- set ns.td_width = 95 / tables_size[0] -%}
        {%- set ns.td_height = 95 / tables_size[1] -%}

        td {
            width: {{ td_width }}vw;
            height: {{ td_height }}vh;
        }
    </style>
{% endblock %}

{% block content %}
<div>
    <table>
        <tbody>
            {%- for y in range(tables_size[1]) %}
            <tr>
            {%- for x in range(tables_size[0]) -%}
            {%- if tables_grid[y][x] is none %}
                <td>
                    <button type="button" class="no-table" disabled></button>
                </td>
            {% else -%}
            {%- set main, xlen, ylen, name = tables_grid[y][x] -%}
            {%- if main %}
                <td colspan="{{ xlen }}" rowspan="{{ ylen }}" style="width: {{ ns.td_width * xlen }}vw; height: {{ ns.td_height * ylen }}vh;">
                    <form action="{{ url_for ('service.service_table', table=name) }}" method="get">
                        <button id="{{name}}" type="submit" class="{{ 'active-order' if name in active_tables else 'no-order'}}">{{name}}</button>
                    </form>
                </td>
            {%- endif -%}
            {%- endif -%}
            {%- endfor %}
            </tr>
            {%- endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
