{% extends "_base.html" %}

{% block title %}Service Table {{table}}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/service_table.css') }}">
    <script src="{{ url_for('static', filename='js/service_table.js') }}"></script>
{% endblock %}

{% block content %}
<div>
    <form class="inline" action="{{ url_for ('service.service') }}" method="get">
        <button class="back-button" type="submit">&#x2715;</button>
    </form>

    <h2 class="inline">Service {{table}}</h2>
    <form class="inline" action="{{ url_for ('service.service_table_history', table=table) }}" method="get">
        <button class="history-button" type="submit">...</button>
    </form>
    <hr style="background-color: darkorange;">
    <ul>
        {% for open_products in open_product_lists -%}
        <li>
            {{ open_products|join('<br/>')|safe}}
        </li>
        {% endfor -%}
    </ul>

    <hr style="background-color: cornflowerblue;">
    <form action="{{ url_for ('service.service_table_submit', table=table) }}" method="post">
        <input type="hidden" id="nonce" name="nonce" value="{{nonce}}">
        <table>
            <colgroup>
                <col style="width: 15vw;">
                <col style="width: 40vw;">
                <col style="width: 15vw;">
                <col style="width: 15vw;">
                <col style="width: 15vw;">
            </colgroup>
            <tbody>
                <tr>
                    <th colspan="2">Produkt</th>
                    <th colspan="3">Menge</th>
                </tr>
                {% set ns = namespace() -%}
                {% if ui_config.show_category_names -%}
                    {# {{ Set curcat to a value different from the first category name, this forces display of first category}} #}
                    {%- set ns.curcat = None -%}
                {%- else -%}
                    {# {{ Set curcat to the first category, this removes a leading spacer row}} #}
                    {%- set ns.curcat = split_categories_init -%}
                {%- endif -%}

                {%- for pid, pname, pprice, pcat in products -%}

                {%- if ui_config.show_category_names and pcat != ns.curcat -%}
                {%- if ns.curcat != None -%}
                    {#- {{ This is not the very first category, add a closing table}} -#}
                </tbody>
                </table></div></body></tr>
                {% endif -%}

                <tr><td colspan="5" class="category-name-{{ui_config.category_color_map[pcat]}}"><button type="button" class="category-button arrow" id="category-button-{{pcat}}" onclick="toggleCategoryFold('{{pcat}}')">{{pcat}}&nbsp;</button></td></tr>
                <tr><td colspan="5"><div id="category-fold-div-{{pcat}}" class="category-fold-div"><table>
                <colgroup>
                    <col style="width: 15vw;">
                    <col style="width: 40vw;">
                    <col style="width: 15vw;">
                    <col style="width: 15vw;">
                    <col style="width: 15vw;">
                </colgroup>
                <tbody>
                {% set ns.curcat = pcat -%}
                {%- elif pcat != ns.curcat %}
                <tr><td colspan="5"><br/></td></tr>
                {% set ns.curcat = pcat -%}
                {%- endif -%}

                <tr id="product-row-{{pid}}" class="product-row category-{{ui_config.category_color_map[pcat]}}">
                    <td><button type="button" id="customize-button-{{pid}}" class="customize-button" onclick="showPopup({{pid}})">&#9881;</button></td>
                    <td id="product-name-{{pid}}" class="product-name">{{pname}}</td>
                    <td><button type="button" class="amount-button" onclick="modifyAmount({{pid}}, -1)">&minus;</button></td>
                    <td><input type="text" id="amount-{{pid}}" class="amount-box" name="amount-{{pid}}" value="0" onchange="updateValues()"/></td>
                    <td><button type="button" class="amount-button" onclick="modifyAmount({{pid}}, +1)">&plus;</button></td>
                </tr>
                {% endfor -%}

                {%- if ui_config.show_category_names -%}
                    {#- {{ The very last category was printed. add a closing table}} -#}
                </tbody>
                </table></div></td></tr>
                {%- endif %}
            </tbody>
        </table>
        <h2 id="overview-h2">Übersicht</h2>
        <hr style="background-color: darkorange;">
        <ul id="overview"></ul>
        <hr style="background-color: cornflowerblue;">
        <p id="total-cost-p">Gesamtpreis <span id="total-cost">0.00</span> €</p>
        <button type="submit" id="submit-button">Bestellen</button>
        {%  for pid, pname, pprice, _ in products %}
        <div id="customize-popup-{{pid}}" class="popup">
            <div class="popup-inner">
                <h2>{{ pname }}</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>Preis</td>
                            <td><span id="price-{{pid}}" class="price-text">{{ "{:,.2f}".format(pprice) }}</span> €</td>
                        </tr>
                        <tr>
                            <td>Menge</td>
                            <td>
                                <button type="button" class="amount-button" onclick="modifyAmount({{pid}}, -1)">&minus;</button>
                                <span id="amount2-{{pid}}" class="amount2-text">0</span>
                                <button type="button" class="amount-button" onclick="modifyAmount({{pid}}, +1)">&plus;</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Kosten</td>
                            <td><span id="cost-{{pid}}" class="cost-text">0.00</span> €</td>
                        </tr>
                    </tbody>
                </table>
                <p>Kommentar:</p>
                <input type="text" id="comment-{{pid}}" class="comment-box" name="comment-{{pid}}"/><br/>
                <button type="button" id="done-button" onclick="hidePopup({{pid}})">Fertig</button>
            </div>
        </div>
        {%  endfor %}
    </form>
</div>
{% endblock %}

{% block footer %}
<script>updateValues(){% if ui_config.fold_categories %}; initialCategoryFold(){% endif %}</script>
{% endblock %}
